:root {
    --bg: #d8d8d8;
    --bgSoft: #2d2b42;
    --text: rgb(5, 0, 0);
    --textSoft: #e5e5e5;
    --btn: #3673fd;
    --bgLight:#6c6c6e;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--bg);
    color: var(--text);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .container {
    /* background-color: rgb(197, 196, 196); */
    /* width: 1536px; */
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Slider CSS */
  
  .img-slider {
    position: relative;
    width: 1536px;
    height: 500px;
    margin: 10px;
    background: gray;
  }

  .img-slider .slide {
    z-index: 1;
    position: absolute;
    
  }

  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }

  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    height: 500px;
    border-radius: 5px;
  }

  .img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }
  
  .img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
  }
  
  .img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
  }

  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 1536px) {
    .container {
      width: 1366px;
    }
  }
  
  @media (max-width: 1366px) {
    .container {
      width: 1280px;
    }
  }
  
  @media (max-width: 1280px) {
    .container {
      width: 1024px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 1024px) {
    .container {
      width: 768px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      width: 640px;
    }
  }
  
  @media (max-width: 640px) {
    .container {
      width: 475px;
    }
  }
  @media (max-width: 475px) {
    .container {
      width: 380px;
    }
  }
  