.homeContent {
    margin-top: 6px;
    
}
.pillarsHeader{
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  
}
.pillarsSubHeader {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: 300;   
}
  
.pillarsContainer::after {
  content: "";
  display: table;
  clear: both;
}

.pillarsContent {
  float: left;
  width: 278px;
  padding: 15px;
  height:240px; 
  border: 1px solid;
  border-radius: 9px;
  background-color: rgb(200, 203, 206);
  margin: 10px;
  align-content: center;
  margin-top:40px;
}

.pillarsContent span {
  font-size: large;
  font-weight: 900;
  color: rgb(60, 61, 60);
  padding: 10px;
}

.pillarsContent p {
  margin-top: 20px; 
  min-height: 200px;  
  /* text-indent: 20px;   */
  line-height: 1.8;
}

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 1280px) {
  .pillarsContent {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .pillarsContent {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .pillarsContent {
    width: 70%;
  }
}

@media (max-width: 640px) {
  .pillarsContent {
    width: 80%;
  }
}
@media (max-width: 475px) {
  .pillarsContent {
    width: 100%;
    align-content: center;
  }
}
