.homeContent {
    margin-top: 6px;
    
  }

  .pillarsContainer {
    /* border: 1px solid; */
    margin-top: 6px;
    padding: 30px;
    display: flex;
    gap:40px;
   
  }

  .pillarsNumbers{    
    color: rgb(163, 39, 39);
    font-size: large;
    top: 40px;
    font-weight: bold;
  }
  
  .pillarsHeader{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    
  }

  .pillarsContent {
   
    gap: 20px;  
    width: 400px;
    height: 280px;
    background-color: rgb(204, 206, 206);
    border-radius: 20px;
    padding: 20px;
    
  }

  .pillarsSubHeader {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 300; 
  }
  
  .pillarsContent span{
    font-size: large;
    font-weight: 900;
    color: rgb(60, 61, 60);
    padding: 10px;
  }

  .pillarText {
    margin-top: 20px;
  }