.submenu {
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    position: absolute;    
    background-color: rgb(161, 163, 163);
    border-radius: 30px;   

}

.submenu a:hover {    
    padding: 2px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(73, 73, 72);
    color: white
}